<header class="feature-header">
  <h2>
    <%= feature.name %> - <%= feature.percentage %>%

    <% if defined?(current_user) && current_user %>
      <div style="float:right;">
        <% unless feature.user_ids.include?(current_user.id.to_s) %>
          <%= link_to 'Add Me', feature_current_user_path(feature.name), method: :post, class: 'add_me_link' %>
        <% end %>
      </div>
    <% end %>
  </h2>
</header>

<div class="col">
  <%= form_tag feature_path(feature), :class => "percentage_form", :method => :put, :remote => true do %>
    <label>Percentage</label>
    <select class="percentage" name="percentage">
      <option value="<%= feature.percentage.to_i %>" "selected='selected'"><%= feature.percentage.to_i %>%</option>
      <option value="0">0%</option>
      <option value="100">100%</option>
    </select>
    <input type="submit" value="Save" />
  <% end %>
</div>

<div class="col">
  <%= form_tag feature_path(feature), :class => "groups_form", :method => :put, :remote => true do %>
    <label>Groups</label>
    <select id="<%= feature.name %>_groups" class="groups" name="groups[]" multiple="multiple" data-placeholder="Choose a group">
      <% @wrapper.groups.each do |group| %>
        <option<%= " selected='selected'" if feature.groups.include?(group) %>><%= group %></option>
      <% end %>
    </select>
    <%= hidden_field_tag "groups[]", "" %>
    <input type="submit" value="Save" />
  <% end %>
</div>

<div class="col">
  <%= form_tag feature_path(feature), :class => "users_form", :method => :put, :remote => true do %>
    <label>Add User by <%= RolloutUi.user_name_field %></label>
    <input class="users" type="text" name="user_names[]" value="<%= feature.user_names.join(",") %>" data-placeholder="Enter User <%= RolloutUi.user_name_field %>" />
    <input type="submit" value="Save" />
  <% end %>
</div>
